@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #181818;
  --foreground: #1c1c1e;
  --bg-hover: #2a2a2d;
  --text: #82868f;
  --border: #242424;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
