@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #181818;
  --foreground: #1c1c1e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #1c1c1e;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
